<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Beyoncé-inspired HTTP Status Codes">

  <meta property="og:url" content="http://httbey.com"/>
  <meta property="og:title" content="HTTBey Script"/>
  <meta property="og:description" content="Beyoncé-inspired HTTP Status Codes"/>
  <meta property="og:site_name" content="httbey.com"/>
  <meta property="og:image" content="http://httbey.com/images/unfurl.jpg"/>

  <!-— twitter card tags additive with the og: tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" value="httbey.com" />
  <meta name="twitter:title" value="HTTBey" />
  <meta name="twitter:description" value="Beyoncé-inspired HTTP Status Codes" />
  <meta name="twitter:image" content="http://httbey.com/images/unfurl.jpg" />
  <meta name="twitter:url" value="http://www.httbey.com/" />

  <link rel="stylesheet" href="https://use.typekit.net/fxo6cgs.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>HTTBey Status Codes</title>
</head>
